@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  /*
  background-color: #15202B;
  color: white;
  */
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

img {
  border-radius: 50%;
}

/* ----Banner / Header ---- */

.navbar-svg {
  height: 30px;
  fill: white;
}

.tweet-svg {
  height: 22px;
}

.dots-svg {
  height: 22px;
  fill: white;
}

.banner {
  background-color: salmon;
  min-width: 275px;
  padding: 0 10px;
}

.main-center-div {
  background-color: #90be6d;
  border: 1px solid rgb(136, 153, 166);
}

.main-sidebar-div {
  background-color: #219ebc;
}

body {
  display: flex;
}

.main-container {
  display: flex;
}

.navbar-logo {
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar-main-button > div {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.navbar-main-button-title {
  font-weight: bolder;
  font-size: 19px;
  margin-left: 15px;
}

.navbar-button-span-div {
  border-radius: 50px;
  background-color: rgb(29, 161, 242);
  text-align: center;
  height: 48px;
  width: 200px;
}

.navbar-button-span-div > span {
  display: inline-block;
  margin-top: 13px;
}

.side-profile-div-button {
  display: flex;
  align-items: center;
  padding: 12px;
}

.side-profile-div-main {
  margin-left: 12px;
}

.side-profile-name {
  font-weight: bolder;
}

.side-profile-id > span {
  font-family: "Roboto";
  font-size: 14px;
}

/*
.grey {
  color: rgb(136, 153, 166);
}*/

.side-profile-div-etc {
  margin-left: 100px
}

.side-profile-div-etc > svg {
  height: 18.5px;
}

/* ---- Main center ---- */

.main-center-div {
  width: 850px;
}

.main-center-title-div {
  border: 1px solid rgb(136, 153, 166);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.main-center-input-div {
  border: 1px solid rgb(136, 153, 166);
  padding: 6px 16px;
}

.main-center-input {
  display: flex;
}

.main-center-input-profile {
  margin-right: 15px;
}

.main-center-input-container-box-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-center-input-box {
  display: flex;
  align-items: center;
  height: 60px;
}

.main-center-input-box-news > span {
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 500;
}

.main-center-input-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  height: 45px;
}

.main-center-input-footer-options {
  display: flex;
  align-items: center;
}

.main-center-input-footer-options > div {
  margin-right: 15px;
}

.main-center-input-footer-button {
  border-radius: 25px;
  padding: 12px 16px;
  margin-bottom: 15px;
  background-color: #1DA1F2;
  font-weight: 500;
  color: white;
}

.main-center-separator-div {
  height: 12px;
  border-bottom: 1px solid rgb(136, 153, 166);
}

.main-center-thread-tweet {
  padding: 10px 16px;
  display: flex;
  border-bottom: 1px solid rgb(136, 153, 166);
}

.main-center-thread-tweet-box {
  margin-left: 15px;
  width: 100%;
}

.main-center-tweet-title-div {
  display: flex;
  justify-content: space-between;
}

.main-center-tweet-title {
  display: flex;
  align-items: center;
}

.main-center-tweet-title > div {
  margin-right: 4px;
}

.main-center-tweet-footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-name-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.main-center-tweet-container-footer {
  width: 85%;
  margin-top: 15px;
}