@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  /*background-color: #15202B;*/
  color: white;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #15202B;
}

img {
  border-radius: 50%;
}

.active {
  color: rgb(29, 161, 242);
}

/* ----Banner / Header ---- */

.active-svg {
  height: 26.5px;
  fill: #1DA1F2;
}

.twitter-svg {
  height: 30px;
  fill: white;
}

.navbar-svg {
  height: 26.5px;
  fill: white;
}

.tweet-svg {
  height: 22px;
  fill: #1DA1F2;
}

.options-svg {
  height: 18.75px;
  fill:rgb(136, 153, 166);
}

.dots-svg {
  height: 22px;
  fill: white;
}

.search-svg {
  height: 18px;
  fill: white;
}

.banner {
  min-width: 275px;
  padding: 0 10px;
}

body {
  display: flex;
}

.main-container {
  display: flex;
}

.navbar-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-main-button > div {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.navbar-main-button-title {
  font-weight: bolder;
  font-size: 19px;
  margin-left: 17px;
}

.navbar-button-span-div {
  border-radius: 50px;
  background-color: rgb(29, 161, 242);
  text-align: center;
  margin-right: 40px;
  padding: 15px 5px;
}

.side-profile-div-button {
  display: flex;
  align-items: center;
  padding: 12px;
}

.side-profile-div-main {
  margin-left: 12px;
}

.side-profile-name {
  font-weight: bolder;
}

.side-profile-id > span {
  font-family: "Roboto";
  font-size: 14px;
}

.grey {
  color: rgb(136, 153, 166);
}

.side-profile-div-etc {
  margin-left: 100px
}

.side-profile-div-etc > svg {
  height: 18.5px;
}

/* ---- Main center ---- */

.main-center-div {
  border-bottom: 1px solid #344452;
  border-left: 1px solid #344452;
  border-right: 1px solid #344452;
  width: 850px;
  max-width: 600px;
}

.main-center-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.main-center-title > h2 > span {
  font-size: 20px;
  font-weight: 600;
}

.main-center-input-div {
  border-top: 1px solid #344452;
  border-bottom: 1px solid #344452;
  padding: 6px 16px;
}

.main-center-input {
  display: flex;
}

.main-center-input-profile {
  margin-right: 15px;
}

.main-center-input-container-box-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-center-input-box {
  display: flex;
  align-items: center;
  height: 60px;
}

.main-center-input-box-news > span {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 400;
}

.main-center-input-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  height: 45px;
}

.main-center-input-footer-options {
  display: flex;
  align-items: center;
}

.main-center-input-footer-options > div {
  margin-right: 17px;
}

.main-center-input-footer-button {
  border-radius: 25px;
  padding: 12px 16px;
  margin-bottom: 15px;
  background-color: #19608E;
  font-weight: 500;
}

.main-center-input-footer-button > span {
  color: #878E95;
}

.main-center-separator-div {
  height: 12px;
  border-bottom: 1px solid #344452;
  background-color: #192734;
}

.main-center-thread-tweet {
  padding: 10px 16px;
  display: flex;
  border-bottom: 1px solid #344452;
}

.main-center-thread-tweet-box {
  margin-left: 15px;
  width: 100%;
}

.main-center-tweet-title-div {
  display: flex;
  justify-content: space-between;
}

.main-center-tweet-title {
  display: flex;
  align-items: center;
}

.main-center-tweet-title > div {
  margin-right: 4px;
}

.main-center-tweet-footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-center-tweet-id > span {
  font-weight: 100;
  font-size: 15px;
}

.main-center-tweet-dot > span {
  vertical-align: super;
  font-weight: 100;
}

.main-center-tweet-date > span {
  font-weight: 100;
}

.tweet-name-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.tweet-name-link > span {
  font-weight: 600;
}

.main-center-tweet-container-footer {
  width: 85%;
  margin-top: 15px;
}

.main-sidebar-div {
  padding-left: 30px;
  max-width: 380px;
}

.main-sidebar-container-search {
  padding-top: 5px;
  padding-bottom: 15px;
}

.main-sidebar-search {
  display: flex;
  align-items: center;
  background-color: #253341;
  max-width: 350px;
  padding: 12px;
  border-radius: 30px;
}

.main-sidebar-search-loupe {
  margin-left: 8px;
  margin-top: 2px;
}

.main-sidebar-search-bar {
  margin-left: 20px;
}

.main-sidebar-search-bar > div {
  font-weight: 300;
}

.main-sidebar-tendances, .main-sidebar-suggestions {
  max-width: 350px;
  margin-bottom: 20px;
}

.main-sidebar-tendances-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
}

.main-sidebar-tendances-card-categorie > span, 
.main-sidebar-tendances-card-count > span {
  font-size: 13px;
  font-weight: 100;
}

.main-sidebar-tendances-card-name > span {
  font-weight: 600;
  font-size: 15px;
}

.main-sidebar-tendances-header-title > span {
  font-size: 20px;
  font-weight: 600;
}

.tendances-element, .suggestions-element {
  padding: 11px 15px;
  border-bottom: 1px solid #344452;
  background-color: #192734;
}

.main-sidebar-tendances-more, .main-sidebar-suggestions-more {
  border-radius: 0 0 20px 20px;
  border: none;
}

.main-sidebar-tendances-more > span, .main-sidebar-suggestions-more > span {
  font-size: 15px;
  font-weight: 100;
  color: rgb(29, 161, 242);
}

.main-sidebar-suggestions-header {
  border-radius: 20px 20px 0 0;
}

.main-sidebar-suggestions-title > span {
  font-size: 21px;
}

.main-sidebar-suggestions-card, .main-sidebar-suggestions-card-body {
  display: flex;
  align-items: center;
}

.main-sidebar-suggestions-card-picture {
  margin-right: 10px;
}

.main-sidebar-suggestions-card-body {
  width: 100%;
  justify-content: space-between;
}

.main-sidebar-suggestions-card-body-button {
  padding: 6px 15px;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 18px;
}

.main-sidebar-suggestions-card-body-button > div > span {
  color: #1DA1F2;
}

.main-sidebar-suggestions-card-id > span {
  font-family: 'Roboto';
  font-size: 13px;
}

.main-sidebar-footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-sidebar-footer-nav > a {
  font-size: 13px;
  text-decoration: none;
  font-weight: 100;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.copyright {
  font-size: 13px;
  font-weight: 100;
}


